---
 - name: get instances info
   hosts: localhost
   connection: local
   gather_facts: fals
   tasks:
   - name: use ec2_instance_facts
     ec2_instance_facts:
      region: us-east-1
     register: ec2_info
   - name: Displaying output
     debug: var=ec2_info


#######################################


---
 - name: get instances info
   hosts: localhost
   connection: local
   gather_facts: fals
   tasks:
   - name: use ec2_instance_facts
     ec2_instance_facts:
      region: us-east-1
     register: ec2_info
   - name: Displaying output
     debug: var=item.tags
     with_items: "{{ec2_info.instances}}"
     when: item.tags.keys() | length == 0


#########################################


---
 - name: get instances info
   hosts: localhost
   connection: local
   gather_facts: fals
   tasks:
   - name: use ec2_instance_facts
     ec2_instance_facts:
      region: us-east-1
     register: ec2_info
   - name: Stop ec2 with no tags
     ec2:
       region: us-east-1
       instance_ids: "{{item.instance_id}}"
       state: stopped
     with_items: "{{ec2_info.instances}}"
     when: item.tags.keys() | length == 0

